@import '../../../styles/variables';

.Footer {
  display: block;
  font-family: $font-stack;
  background-color: $teal;
  position: fixed;
  // position: absolute;
  bottom: 0;
  width: 100%;

  p {
    color: $background;
    margin-top: 16px;
    font-weight: 200;
  }

  a {
    color: $background;
  }
}
