@import '../../../styles/variables';

.Conclusion {
  display: block;
  justify-content: space-around;
  color: $text;
  background-image: url('../../../images/blue-bkg-square-1.png');
  background-repeat: repeat;
  height: 100vh;

  h2 {
    padding: $header-padding;
    font-weight: $header-weight;
    font-size: $header-size;
    color: $teal;
  }

  h5 {
    font-size: $body-text-size;
    padding: $body-text-padding;
  }

  .conclusion-card-container {
    display: flex;
    justify-content: center;
  }

  .back-to-home-btn {
    background-color: $teal;
    margin-top: 10rem;
    &:hover {
      color: $text;
      background-color: $dark-purple;
    }
  } 

}
