@import '../../../styles/variables';

.Conclusion {
  display: block;
  color: $text;

  h2 {
    padding: $header-padding;
    font-weight: $header-weight;
    font-size: $header-size;
    color: $teal;
  }

  h5 {
    font-size: $body-text-size;
    padding: $body-text-padding;
  }

  .register-button-container {
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
  }

  .complete-training-button {
    background-color: $green;
    &:hover {
      color: $text;
      background-color: $dark-purple;
    }
  }
}
