@import '../../../styles/variables';

.Conclusion {
  display: block;
  color: $text;

  .complete-training-button {
    background-color: $green;
    &:hover {
      color: $text;
      background-color: $dark-purple;
    }
  }
}
