@import '../../../styles/variables';

.Sticker {
  display: block;
  color: $text;
  background-color: $background;
  height: 100vh;

  .sticker-img {
    width:50%
  }
  .module-navigation {
    background-color: $border;
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }
}
