@import '../../../styles/variables';

.Register {
  display: block;
  color: $text;
  background-color: $background;
  height: 100vh;

  h2 {
    padding: $header-padding;
    font-weight: $header-weight;
    font-size: $header-size;
    color: $teal;
  }

  h5 {
    font-size: $body-text-size;
    padding: $body-text-padding;
  }

  .rollover-container {
    display: flex;
    background-color: $green;
    color: $background;

    .box-container {
      background-color: $teal;
    }

    .rollover-message-container {
      background-color: $orange;
    }
  }

  .register-button-container {
    display: flex;
    justify-content: space-around;
  }

  .module-navigation {
    background-color: $border;
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }
}
