@import '../../../styles/variables';

.CheckIn {
  @include component;

  .checkin-container {
    @include component-container;
  }
  
  .checkin-content-container {
    display: flex;
    justify-content: space-around;

    .photo-id-container {
      align-self: center;
    }
  }

  h2 {
    padding: $header-padding;
    font-weight: $header-weight;
    font-size: $header-size;
    color: $teal;
  }

  h5 {
    font-size: $body-text-size;
    padding: $body-text-padding;
  }

  h6 {
    font-size: $body-text-size;
    padding: $body-text-padding;
  }

  .module-navigation {
    @include navbar;

    .active-next-button {
      @include active-next-button;
    }

    .active-next-button:hover {
      @include active-next-button-hover;
    }

    .disabled-next-button {
      @include disabled-next-button;
    }

    .previous-button {
      @include previous-button;
    }

    .previous-button:hover {
      @include previous-button-hover;
    }
  }
}

.draggable {
  background-color: $background;
}

.droppable {
  color: $text;
  background-color: $border;
  width: 150px;
  height: 75px;
  justify-content: center;
  align-items: center;
}

.photo-id-types {
  font-weight: bolder;
  background-color: $border;
  border: 3px solid $teal;
  border-radius: 3px;
}

.drag-and-drop-container {
  display: flex;
}
