@import '../../../styles/variables';

.Intro {
  display: block;
  font-family: $font-stack;
  background-color: $background;
  height: 100vh;
  color: $text;

  h2 {
    padding: $header-padding;
    font-weight: $header-weight;
    font-size: $header-size;
    color: $teal;
  }

  h3 {
    color: $teal;
    padding: $body-text-padding;
  }

  h5 {
    font-size: $body-text-size;
    padding: $body-text-padding;
  }

  .intro-content-container {
    display: flex;
  }

  .module-navigation {
    background-color: $border;
    position: absolute;
    bottom: 3.5rem;
    width: 100%;
    padding-right: 2rem;

    .active-next-button {
      background-color: $active-nav-button-background-color;
      color: $active-nav-button-text-color;
      font-weight: $nav-btn-font-weight;
      width: $nav-button-width;
    }

    .active-next-button:hover {
      background-color: $hover-active-nav-button-background-color;
      color: $hover-active-nav-button-text-color;
      font-weight: $nav-btn-font-weight;
      width: $nav-button-width;
    }

    .disabled-next-button {
      background-color: $disabled-nav-button-background-color;
      color: $disabled-nav-button-text-color;
      font-weight: $nav-btn-font-weight;
      width: $nav-button-width;
      cursor: $disabled-cursor;
    }

    .previous-button {
      background-color: $active-nav-button-background-color;
      color: $active-nav-button-text-color;
      font-weight: $nav-btn-font-weight;
      width: $nav-button-width;
    }

    .previous-button:hover {
      background-color: $hover-active-nav-button-background-color;
      color:$hover-active-nav-button-text-color;
      font-weight: $nav-btn-font-weight;
      width: $nav-button-width;
    }
  }
}
