@import '../../../styles/variables';

.Intro {
  display: block;
  color: $text;

  .intro-content-container {
    display: flex;
  }

  .module-navigation {
    background-color: $border;
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }
}
