@import '../../../styles/variables';

.Disclaimer {
  display: block;
  color: $text;
  background-color: $background;
  height: 100vh;

  .disclaimer-image {
    width: auto;
  }

  .module-navigation {
    background-color: $border;
    position: absolute;
    bottom: 2rem;
    width: 100%;
  }
}
