@import '../../../styles/variables';

.ConclusionCard {
  display: block;
  flex-direction: column;
  background-color: $border;
  padding: 1rem;
  border: 5px $background solid;
  height: 10rem;

  .btn {
    background-color: $teal;
    &:hover {
      color: $text;
      background-color: $dark-purple;
    }
  }
}
